.App {
  text-align: center;
}

nav {
  background-color: black;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

}

nav a, button {
  background-color: white;
  color: black;
  padding: 10px 30px;
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-bottom: 10px;
  border: none

}

.DetailsLink {
  color: yellow;
  margin-top: 20px;
  text-decoration: none;
}

.DetailsLink:hover {
  color: white;
  margin-top: 20px;
  text-decoration: underline;
}


nav a:hover, button:hover {
background-color: yellow;
}

.Friends-List {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: wrap;
}


.FriendCard img {
  width: 100px;
  height: 100px;
  object-fit: cover;

}

.FriendCard {

  background-color: black;
  color: white;
  width: 300px;
  height: 300px;
  padding: 30px;
  text-align: center;
  margin: 10px;
  border-radius: 10px;

}

.FriendDetails img {
width: 30%;
}






